<nav  class="  w-full   bg-red-700">
  <div class="p-2 flex  text-center md:flex md:justify-between lg:flex lg:justify-between xl:flex xl:justify-between items-center">
    <button
      mat-icon-button (click)="openNav()"
      class="   float-left example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <div id="mySidenav" class="sidenav h-1/2 w-0 fixed z-0 top-0 left-0 bg-black">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a  class="font-serif hover:cursor-pointer mb-5">Sources</a>
      <span class="text-sm text-gray-400 block ml-7 hover:cursor-pointer hover:text-gray-50 p-2 " *ngFor="let source of sourcesNames " (click)="onSourceClick(source)">{{source}}</span>
    </div>

    <div>
      <span class="text-3xl ml-16 from-neutral-950 font-serif cursor-pointer" (click)="reload()">News Today</span>
    </div>



    <div class=" hidden  lg:flex lg:justify-around xl:flex xl:justify-around md:flex md:justify-around">
      <!-- <div class=" relative inline-block">
          <span class=" dropbtn hover:underline font-serif text-black text-lg hover:cursor-pointer mr-1" (click)="myFunction()" >sources</span>
          <i class=" dropbtn fa fa-caret-down hover:cursor-pointer" (click)="myFunction()"></i>
        <div id="myDropdown" class="dropdown-content hidden absolute bg-white  min-w-full overflow-auto shadow-md z-0 ">
          <a class="float-none text-black px-3 py-4 block hover:cursor-pointer hover:bg-gray-100 "   *ngFor="let source of sourcesNames">{{source}}</a>
        </div>
      </div> -->

      <div>
      <input type="text" class="mb-0 rounded-r-none p-1 rounded-sm" [(ngModel)]="searchText" />
      <button class="text-white bg-black rounded-l-none rounded-sm p-1 mr-1" (click)="onSearchClick()">
        Search
      </button>
      </div>

    </div>


  </div>
</nav>


